* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;

    height: 100vh;
	background: #ff7b00;
	font-family: Monospace, sans-serif;
	color: #111;
}

.card_cadastro {
	display: flex;
	flex-direction: column;
	background: #FFF;
	width: 80vw;
	max-width: 450px;
	padding: 30px;
	border-radius: 6px
}

.card_cadastro h2 {
	margin-bottom: 5px
}

.card_cadastro .bar {
	width: 40px;
	height: 2px;
	background: #ff7b00
}

.card_cadastro label {
	margin: 10px 0
}

.card_cadastro input {
	padding: 10px;
	border: none;
	border: 1px solid #ff7b00;
	border-radius: 6px
}

.card_cadastro button {
	margin: 30px 0 10px;
	padding: 10px;
	border: none;
	border-radius: 6px;
	background: #ff7b00;
	color: #FFF;
	cursor: pointer;
	text-transform: uppercase
}