    /* Estilos gerais */
  body {
    /* Adiciona uma camada preta semi-transparente por cima da imagem */
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('./images/backg_basket.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    text-align: center;
    min-height: 100vh;
    margin: 0;
}


    /* Estilos do cabeçalho */
    .titulo-principal {
        color: orange;
        font-size: 2.5em;
        margin-top: 20px;
       
    }

    .subtitulo-destaque {
        color: orange;
        font-size: 1.2em;
        font-weight: bold;
       
    }

    nav a {
        margin: 0 10px;
        text-decoration: none;
        color: white;
    }

    /* Letreiro usando <marquee> */
    .marquee-text {
        background-color: #ffcc00;
        padding: 10px 0;
        font-weight: bold;
    }

    /* Estilos do rodapé */
    footer {
        padding-top: 20px;
    }

    .link-dev {
        display: inline-block;
        text-decoration: none;
        color: black;
        margin: 0 auto;
    }

    hr {
        border: 0;
        height: 1px;
        background: #ccc;
        margin: 20px auto;
    }

    /* Estilos do conteúdo principal */

    .imagem-destaque {
    display: block; /* A imagem precisa ser um elemento de bloco para usar 'margin: auto' */
    margin: 0 auto; /* Centraliza horizontalmente a imagem no contêiner */
    max-width: 60%; /* Garante que a imagem não ultrapasse a largura do contêiner */
}

    main {
        background-color: rgba(255, 255, 255, 0.8);
        padding: 20px;
        margin: 20px auto;
        border-radius: 10px;
        max-width: 500px;
    }