body{
    background-color: rgb(120, 170, 227);
     font: normal 15pt Arial;
     padding: 10px;
}

header{
    color: white;
    text-align: center;
    padding: 10px;
}


section{
    background-color: rgb(252, 252, 252);
    border-radius: 10px;
    padding: 10px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px black;
    
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
    
}

#btn{
   
    text-align: center;
    font-size: medium;
    color: blue;
    
}

#ifp{
    display: flex;
    justify-content: space-between;
    text-align: center;
}

#contagem{
    text-align: center;
    padding: 20px;
}